name: ci

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.17.1'

      - name: Run tests
        run: make deps build test

  release:
    strategy:
      matrix:
        include:
          - ruby_version: "2.7.4"
            image_tag: "2.7.4"
          - ruby_version: "2.7.6"
            image_tag: "2.7.6"
          - ruby_version: "2.7.7"
            image_tag: "2.7"
          - ruby_version: "3.0.2"
            image_tag: "3.0.2"
          - ruby_version: "3.0.3"
            image_tag: "3.0.3"
          - ruby_version: "3.0.4"
            image_tag: "3.0.4"
          - ruby_version: "3.0.5"
            image_tag: "3.0"
          - ruby_version: "3.1.2"
            image_tag: "3.1.2"
          - ruby_version: "3.1.3"
            image_tag: "3.1"
          - ruby_version: "3.3.4"
            image_tag: "3.3.4"
          - ruby_version: "3.3.4"
            image_tag: "3.3"
          - ruby_version: "3.4.3"
            image_tag: "3.4.3"
          - ruby_version: "3.4.3"
            image_tag: "3.4.3"
          - ruby_version: "3.4.4"
            image_tag: "3.4"
          - ruby_version: "4.0.0"
            image_tag: "4.0.0"
          - ruby_version: "4.0.1"
            image_tag: "4.0"

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Generate Dockerfile
        env:
          RUBY_VERSION: ${{ matrix.ruby_version }}
          CI_BUILD_NUMBER: ${{ github.run_id }}
        run: make deps build dockerfile

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: ${{ github.ref_name == 'master' }}
          tags: |
            glaszig/drone-capistrano:${{ matrix.ruby_version }}
            glaszig/drone-capistrano:${{ matrix.image_tag }}
